<div class="wrapper">
  <div class="mobile-btn-menu" *ngIf="compactView$ | async" (click)=fold$.next(false)>
    <img src="../../../../assets/icons/UnfoldButton.svg">
  </div>

  <mat-sidenav-container>
    <mat-sidenav class="side-menu" mode="side" [opened]="!(compactView$ | async)">
      <app-side-menu [fold$]="fold$" (compactView)="compactView$.next($event)"></app-side-menu>
    </mat-sidenav>

    <mat-sidenav-content (click)="fold$.next(true)">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
